name: tests
on:
  pull_request:
  push:
    branches: [ main ]

  schedule:
  - cron: '01 07 * * *'

  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Debug with tmate set "debug_enabled"'
        required: false
        default: "false"

env:
  # Allow ddev get to use a github token to prevent rate limiting by tests
  DDEV_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  actions: write

jobs:
  tests:
    strategy:
      matrix:
        ddev_version: [stable, HEAD]
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: ddev/github-action-add-on-test@v2
      with:
        ddev_version: ${{ matrix.ddev_version }}
        token: ${{ secrets.GITHUB_TOKEN }}
        debug_enabled: ${{ github.event.inputs.debug_enabled }}
        addon_repository: ${{ env.GITHUB_REPOSITORY }}
        addon_ref: ${{ env.GITHUB_REF }}

    - name: Archive browser_output
      uses: actions/upload-artifact@v4
      with:
        name: browser_output
        path: |
          web/sites/simpletest/browser_output

    - name: Archive junits
      uses: actions/upload-artifact@v4
      with:
        name: junits
        path: |
          *.junit.xml

    - name: Nightwatch reports
      uses: actions/upload-artifact@v4
      with:
        name: nightwatch
        path: |
          web/core/reports/nightwatch
